html, body {
  background-color: #f2f2f2;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 770px; /* 8 cols */ 
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.page-header {
  background-color: #f6f6f6;
  padding: 20px 20px 20px;
  margin: -20px -20px 20px;
  border-bottom: 1px solid #ccc;
}
.content .span10,
.content .span8 {
  min-height: 500px;
}

footer{
  padding-top: 20px;
  border-top: none;
}
#err{
  color: #b94a48
}
.control-label{
  font-weight:bold;
}
fieldset{
  padding-left: 20px;
}
.control-group{
  margin-bottom: 2px;
}
.control-label{
  margin-bottom: 2px;
}
.help-inline{
  margin-bottom: 0px;
}
.well{
  margin-bottom: 15px;
  min-height: 0px;
  padding: 7px;
  padding-left: 10px;
}